@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --alata:'Alata', sans-serif;
  --josefin:'Josefin Sans', sans-serif;
  --white:hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray:hsl(0, 0%, 55%);
  --very-dark-gray:hsl(0, 0%, 41%);
}

body {
  font-size: 15px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body a {
  text-decoration: none;
}

.intro {
  z-index: 2;
  position: relative;
  background: url(../images/mobile/image-hero.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-block: 4em;
}

.intro header {
  width: 80%;
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro header .logo {
  z-index: 10;
  width: 50%;
  max-width: 180px;
}

.intro header .logo img {
  width: 100%;
}

.intro header .navbar {
  display: none;
}

.intro header .navbar * + * {
  margin-left: 0.5em;
}

.intro header .navbar-link {
  position: relative;
  display: inline-block;
  padding: 0.75em 1em 0.25em 1em;
  font-family: var(--alata);
  font-size: 1rem;
  color: var(--white);
}

.intro header .navbar-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--white);
  -webkit-transform: scaleX(0.3);
          transform: scaleX(0.3);
  -webkit-transition: -webkit-transform 225ms ease-in-out;
  transition: -webkit-transform 225ms ease-in-out;
  transition: transform 225ms ease-in-out;
  transition: transform 225ms ease-in-out, -webkit-transform 225ms ease-in-out;
}

.intro header .navbar-link:hover::after, .intro header .navbar-link:focus::after {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.intro header .menu-icon-open {
  width: 100%;
}

.intro header .menu .dropdown {
  z-index: 1;
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100vh;
  margin-inline: auto;
  padding: 1em 2.5em;
  background: var(--black);
  font-family: var(--josefin);
}

.intro header .menu .dropdown div {
  margin-left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.intro header .menu .dropdown-link {
  color: var(--white);
  display: block;
  padding: 0.5em 0;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.intro section {
  z-index: 4;
  margin-block: 9em;
  width: 80%;
  margin-inline: auto;
}

.intro section h1 {
  margin-block: 0;
  border: 1px solid var(--white);
  font-family: var(--josefin);
  font-size: 2rem;
  padding: 0.5em;
  color: var(--white);
  text-transform: uppercase;
}

.vr {
  padding: 6em 0;
}

.vr-image {
  width: 80%;
  max-width: 650px;
  margin-inline: auto;
}

.vr-image img {
  width: 100%;
}

.vr-text {
  width: 80%;
  max-width: 600px;
  margin-inline: auto;
  text-align: center;
}

.vr-text h1 {
  font-weight: 300;
  font-family: var(--josefin);
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1.3;
  margin-bottom: 0.5em;
}

.vr-text p {
  font-family: var(--alata);
  line-height: 1.5;
  font-size: 0.9rem;
  color: var(--very-dark-gray);
}

.creations {
  -webkit-margin-after: 4em;
          margin-block-end: 4em;
}

.creations-title {
  font-size: 2rem;
  font-weight: 300;
  width: 80%;
  margin: 0;
  margin-inline: auto;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  text-align: center;
  font-family: var(--josefin);
  text-transform: uppercase;
}

.creations-grid {
  width: 80%;
  margin-inline: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(298px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(298px, 1fr));
  gap: 1em;
}

.creations-grid .grid-item {
  position: relative;
  overflow: hidden;
}

.creations-grid .grid-item .img-mobile {
  -webkit-filter: contrast(1.3) brightness(0.8);
          filter: contrast(1.3) brightness(0.8);
  width: 100%;
  height: 100%;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.creations-grid .grid-item .img-desktop {
  display: none;
}

.creations-grid .grid-item h2 {
  margin: 0;
  position: absolute;
  bottom: 10%;
  left: 7.5%;
  font-family: var(--josefin);
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--white);
}

.creations-grid .grid-item:hover .img-mobile, .creations-grid .grid-item:hover .img-desktop, .creations-grid .grid-item:focus .img-mobile, .creations-grid .grid-item:focus .img-desktop {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.7;
}

.creations-cta {
  position: relative;
  display: block;
  width: 40%;
  max-width: 150px;
  margin: 2.5em auto 0;
  font-family: var(--alata);
  text-transform: uppercase;
  color: black;
  border: 1px  solid black;
  padding: 0.5em;
  font-size: 0.9rem;
  letter-spacing: 4px;
  text-align: center;
  z-index: 1;
}

.creations-cta::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
  z-index: -1;
}

.creations-cta:hover, .creations-cta:focus {
  color: var(--white);
}

.creations-cta:hover::after, .creations-cta:focus::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

footer {
  background-color: var(--black);
  padding-block: 3.5em;
}

footer .footer {
  width: 80%;
  margin-inline: auto;
  font-family: var(--alata);
}

footer .footer-logo {
  width: 60%;
  max-width: 150px;
  margin-inline: auto;
}

footer .footer-logo img {
  width: 100%;
}

footer .footer-links {
  padding-block: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-links-item {
  display: block;
  color: var(--white);
  padding: 0.25em 0.5em;
  margin-bottom: 0.5em;
}

footer .footer-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.3em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-social-links * + * {
  margin-left: 1.3em;
}

footer .footer-social-links a {
  font-size: 1.5rem;
  display: inline-block;
  color: white;
}

footer .footer-social-links a:hover, footer .footer-social-links a:focus {
  color: #4381df;
}

footer .footer .copyright {
  margin-block: 0;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--dark-gray);
}

.attribution {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 2em auto 0;
  color: var(--dark-gray);
  font-family: var(--josefin);
  font-weight: 400;
  font-size: 0.8rem;
}

.attribution a {
  color: var(--white);
  font-weight: 700;
}

@media only screen and (min-width: 1024px) {
  .intro {
    background: url(../images/desktop/image-hero.jpg);
    background-size: cover;
    background-position: top right;
  }
  .intro header .menu {
    display: none;
  }
  .intro header .navbar {
    display: block;
  }
  .intro section h1 {
    width: 50%;
    font-size: 3.5rem;
  }
  .vr {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[9];
        grid-template-columns: repeat(9, 1fr);
    padding-inline: 10%;
    padding-block: 8em;
  }
  .vr-image {
    width: 100%;
    margin-inline: 0;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .vr-image img {
    height: 100%;
    width: 100%;
  }
  .vr-text {
    padding: 3em 0 0 4em;
    background: var(--white);
    width: 100%;
    margin-inline: 0;
    -ms-grid-column: 5;
    -ms-grid-column-span: 5;
    grid-column: 5/10;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    text-align: left;
  }
  .vr-text p {
    max-width: 450px;
    margin-bottom: 0;
    font-size: 0.8rem;
  }
  .creations-title {
    margin-bottom: 1.6em;
    font-size: 2.2rem;
  }
  .creations-grid {
    -ms-grid-columns: (minmax(150px, 1fr))[4];
        grid-template-columns: repeat(4, minmax(150px, 1fr));
  }
  .creations-grid .grid-item .img-desktop {
    display: block;
    -webkit-filter: contrast(1.3) brightness(0.8);
            filter: contrast(1.3) brightness(0.8);
    width: 100%;
    height: 100%;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }
  .creations-grid .grid-item .img-mobile {
    display: none;
  }
  footer .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer-logo {
    margin-inline: 0;
  }
  footer .footer-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-block: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer .footer-links-item {
    padding: 0.25em 0.5em 0.25em 0;
    margin-right: 1em;
    margin-bottom: 0;
  }
  footer .footer-social-links {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 0;
  }
  footer .footer .copyright {
    padding-block: 0.3em;
  }
  footer .attribution {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1350px) {
  .vr-image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
  .vr-text {
    padding: 6em 0 0 6em;
  }
  .vr-text h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
  }
}
/*# sourceMappingURL=style.css.map */