@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');


*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    //Fonts
    --alata:'Alata', sans-serif;
    --josefin:'Josefin Sans', sans-serif;

    //colors
    --white:hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-gray:hsl(0, 0%, 55%);
    --very-dark-gray:hsl(0, 0%, 41%);
}

body{
    font-size: 15px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    a{
        text-decoration: none;
    }
}

.intro{
    // background: grey;
    z-index: 2;
    position: relative;
    background: url(../images/mobile/image-hero.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-block: 4em;
    header{
        width: 80%;
        margin-inline: auto ;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            z-index: 10;
            width: 50%;
            max-width: 180px;
            img{
                width: 100%;
            }
        }
        .navbar{
            display: none;
            *+*{
                margin-left: 0.5em;
            }
            &-link{
                position: relative;
                display: inline-block;
                padding: 0.75em 1em 0.25em 1em;
                font-family: var(--alata);
                font-size: 1rem;
                color: var(--white);
                // &:hover , &:focus{
                    
                // }
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: var(--white);
                    transform: scaleX(0.3);
                    // transform-origin: left;
                    transition: transform 225ms ease-in-out;
                }
                &:hover , &:focus{
                    &::after{
                        transform: scale(0.8);
                    }
                }
            }
        }
        .menu{
            
            &-icon{
                // z-index:; 
                &-open{
                    width: 100%;  
                }
            }
            .dropdown{
                // border: 1px solid white;
                z-index:1;
                display: none;
                position: absolute;
                top: 0;
                left: 100%;
                width: 100vw;
                height: 100vh;
                margin-inline: auto; 
                padding: 1em 2.5em;
                background: var(--black);  
                font-family: var(--josefin);
                
                div{
                    margin-left: 0;
                    transform: translateY(100%);
                }
                &-link{
                    color: var(--white);
                    display: block;
                    padding: 0.5em 0;
                    text-align:left;
                    // border: 1px solid green;
                    text-transform: uppercase;
                    font-size: 1.5rem;
                }
            }
        }
        
    }
    section{
        z-index: 4;
        margin-block: 9em;
        width: 80%; 
        margin-inline: auto;
        // border: 1px solid red;       
        h1{
            // max-width: 410px;
            margin-block: 0;
            border: 1px solid var(--white);
            font-family: var(--josefin);
            font-size: 2rem;
            padding: 0.5em;
            color: var(--white);
            text-transform: uppercase;
        }
    }
}

.vr{
    padding: 6em 0;
    &-image{
        width: 80%;
        max-width: 650px;
        margin-inline: auto;
        img{
            width: 100%;
        }
    }
    &-text{
        width: 80%;
        max-width: 600px;
        margin-inline: auto;
        text-align: center;
        h1{
            font-weight: 300;
            font-family: var(--josefin);
            font-size: 2rem;
            text-transform: uppercase;
            line-height: 1.3;
            margin-bottom: 0.5em;        
        }
        p{
            font-family: var(--alata);
            line-height: 1.5;
            font-size: 0.9rem;
            color: var(--very-dark-gray);
        }
    }
}

.creations{
    // border: 1px solid green;
    // padding-inline: 10%;
    margin-block-end: 4em;
    &-title{
        font-size: 2rem;
        font-weight: 300;
        width: 80%;
        margin: 0;
        margin-inline: auto;
        margin-block-end: 1em;
        text-align: center;
        font-family: var(--josefin);
        text-transform: uppercase;
    }
    &-grid{
        width: 80%;
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit , minmax(298px ,1fr));
        gap: 1em;
        .grid-item{
            position: relative;
            .img-mobile{
                filter: contrast(1.3) brightness(0.8);
                width: 100%;
                height: 100%;
                transition: all 250ms cubic-bezier(.6,.29,.72,1.42);
            }
            .img-desktop{
                display: none;
            }
            h2{
                margin: 0;
                position: absolute;
                bottom: 10% ;
                left: 7.5%;
                font-family: var(--josefin);
                font-size: 1.5rem;
                font-weight: 300;
                text-transform: uppercase;
                color: var(--white);
            }
            &:hover, &:focus{
                .img-mobile , .img-desktop{
                    transform: translateY(-10px);
                    opacity: 0.7;
                }
            }
            
        }
    }
    &-cta{
        position: relative;
        display: block;
        width: 40%;
        max-width: 150px;
        margin: 2.5em auto 0;
        font-family: var(--alata);
        text-transform: uppercase;
        color: black;
        border: 1px  solid black;
        padding: 0.5em;
        font-size: 0.9rem;
        letter-spacing: 4px;
        text-align: center;
        z-index: 1;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--black);
            transform: scaleX(0);
            transform-origin: right;
            transition: transform
            300ms ease-out;
            z-index: -1;
        }
        &:hover , &:focus{
            // border-color: var(--very-dark-gray);
            color: var(--white);
            &::after{
                transform: scale(1);
                transform-origin: left;
            }
        }
        
    }
}

footer{
    background-color: var(--black);
    padding-block: 3.5em;
    .footer{
        width: 80%;
        margin-inline: auto;
        font-family: var(--alata);
        
        &-logo{
            // background: grey;
            width: 60%;
            max-width: 150px;
            margin-inline: auto;
            img{
                width: 100%;
            }
        }
        &-links{
            // border: 1px solid red;
            padding-block: 1.2em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-item{
                display: block;
                // border: 1px solid red;
                
                color: var(--white);
                padding: 0.25em 0.5em;
                margin-bottom: 0.5em;  
                // text-align: center;
            }
        }
        &-social-links{
            display: flex;
            margin-bottom: 1.3em;
            justify-content: center;
            align-items: center;
            *+*{
                margin-left: 1.3em;
            }
            a{
                font-size: 1.5rem;
                display: inline-block;
                color: white;
                &:hover,
                &:focus{
                    color: rgb(67, 129, 223);
                }
            }
        }
        .copyright{
            margin-block: 0;
            text-align: center;
            font-size: 0.9rem;
            font-weight: 300;
            color: var(--dark-gray);
        }
    }
}

//For IPAD 12PRO

@media only screen and (min-width: 1024px) {
    .intro{
        background: url(../images/desktop/image-hero.jpg);
        background-size: cover;
        background-position: top right;
        header{
            .menu{
                display: none;
            }
            .navbar{
                display: block;
            }
        }
        section{
            h1{
                width: 50%;
                font-size: 3.5rem;
            }
        }
    }

    .vr{
        display: grid;
        grid-template-columns: repeat(9 , 1fr);
        padding-inline: 10%;
        padding-block: 8em;
        &-image{
            width: 100%;
            margin-inline: 0;
            grid-column: 1/7;
            grid-row: 1/3;
            img{
                height: 100%;
                width: 100%;
            }
        }
        &-text{
            // align-self: flex-end;
            padding: 3em 0 0 4em;
            background: var(--white);
            width: 100%;
            margin-inline: 0;
            grid-column: 5/10;
            grid-row: 2/3;
            text-align: left;
            // div{
            //     max-width
            // }
            p{
                max-width: 450px;
                margin-bottom: 0;
                font-size: 0.8rem;
            }
        }
    }

    .creations{
        &-title{
            margin-bottom: 1.6em;
            font-size: 2.2rem;
        }
        &-grid{
            grid-template-columns: repeat(4, minmax(150px, 1fr));
            .grid-item{
                .img-desktop{
                    display: block;
                    filter: contrast(1.3) brightness(0.8);
                    width: 100%;
                    height: 100%;
                    transition: all 250ms cubic-bezier(.6,.29,.72,1.42);
                }
                .img-mobile{
                    display: none;
                }
            }
        }
    }
    footer{
        .footer{
            display: flex;
            justify-content: space-between;
            .wrapper{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            &-logo{
                margin-inline: 0;
            }
            &-links{
                // border: 1px solid red;
                flex-direction: row;
                padding-block: 0;
                justify-content: flex-start;
                // align-items: flex-end;
                &-item{
                    padding: 0.25em 0.5em 0.25em 0;
                    margin-right: 1em;
                    margin-bottom: 0;
                }   
            }
            &-social-links{
                justify-content: flex-end;
                margin-bottom: 0;
            }
            .copyright{
                padding-block: 0.3em;
            }
        }
    }
}

//For Retina Screens
@media screen and (min-width:1350px) { 
    .vr{
        &-image{
            grid-column: 1/6;
        }
        &-text{
            padding: 6em 0 0 6em;
            h1{
                margin: 0;
                font-size: 3rem;
                font-weight: 300;
            }
        }
    }
}
